.dinners-container {
  width: 100%;
  padding: 2rem;
  color: #036564;

  h2{
    text-align: center;
  }
  .dinners {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 60%;

    li {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    a{
      flex: 1;
      display: flex;
      text-decoration: none;
      color: #121212;
    //   gap: 2rem;
      //   align-items: center;
    //   justify-content: space-between;
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: #f1f7f7;
      margin: 0.5em;
      padding: 0;
      border-radius: 4px;
      display: flex;
      align-items: stretch;
      height: 1.8em;
      border: none;
      outline: none;
      font-size: 1.2rem;
      font-weight: 500;

      .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #405061;
        line-height: 1em;
        margin-right: 0.8em;
        border-radius: 4px 0 0 4px;
      }

      .name {
        align-self: center;
      }
    }

    .selected {
      background-color: #036564;
      color: white;
    }
  }
}
